@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>
<div class="main-agileinfo">
    <div class="agileits-top">
        <div asp-validation-summary="ModelOnly"></div>
        
        @* <form asp-action="SendResetPasswordEmail"> *@
        <form asp-action="SendSMS">
            <input class="text email" asp-for="Email"/>
            <input type="submit" value="Send Email"/>
        </form>
    </div>

</div>
